/* feuille de style pour les tableaux */

body {
    background-color: rgb(3, 137, 186);
    opacity: 1;
}

body::after {
        
    background-image: url(../img/sddl.jpg);
    width: 1950px; 
    height: 1950px; 
    object-fit: cover; 
    margin: 0px;
        
    opacity: 0.9;
    top: 80px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    position: absolute;
    background-repeat:no-repeat; 
    content: "";
    z-index: -1;
}