/* feuille de style pour les questions_test */

body {
    text-emphasis: color black;
    background-color: rgb(235, 114, 100);
    opacity: 1;
}

body::after {
        
    background-image: url(../img/sddl.jpg);
    width: 1950px; 
    height: 1950px; 
    object-fit: cover;
    margin: 0px; 
        
    opacity: 0.9;
    top: 360px;
    left: 40px;
    bottom: 10px;
    right: 10px;
    position: absolute;
    background-repeat:no-repeat; 
    content: "";
    z-index: -1;
}